[Unit]
Description=Codzienna kontrola waznosci certyfikatow DNSCrypt

[Timer]
OnCalendar=*-*-* 04:40:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
