[Unit]
Description=Cogodzinna aktualizacja RPZ rejestru hazardowego MF

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
