[Unit]
Description=Client ACL for DNS over QUIC
Before=dnsdist.service
After=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f /etc/nftables.d/isp-doq.nft
ExecReload=/usr/sbin/nft -f /etc/nftables.d/isp-doq.nft
ExecStop=/usr/sbin/nft delete table inet isp_doq

[Install]
WantedBy=multi-user.target
