[Unit]
Description=Codzienna aktualizacja ThreatFox RPZ

[Timer]
OnCalendar=*-*-* 03:17:00
RandomizedDelaySec=20m
Persistent=true
Unit=threatfox-rpz.service

[Install]
WantedBy=timers.target
