[Unit]
Description=Daily ThreatFox RPZ update

[Timer]
OnCalendar=*-*-* 03:17:00
RandomizedDelaySec=20m
Persistent=true
Unit=threatfox-rpz.service

[Install]
WantedBy=timers.target

