[Unit]
Description=Client ACL for DNSCrypt
Before=isp-dnscrypt-test.service
After=network-pre.target
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/nft -f /etc/nftables.d/isp-dnscrypt-test.nft
ExecReload=/usr/sbin/nft -f /etc/nftables.d/isp-dnscrypt-test.nft
ExecStop=/usr/sbin/nft delete table inet isp_dnscrypt_test

[Install]
WantedBy=multi-user.target
